.mapa-container{
    height: 100%;
    width: 100%;
}
.row{
    background-color: white;
    border-radius: 5px;
    left: 50px;
    bottom: 50px;
    padding: 10px;
    position:fixed;
    z-index: 999;
    width: 400px;
}