<div #mapa class="mapa-container"></div>

<div class="row">
    <div class="col-12">
        <button class="btn btn-primary" (click)="zoomOut()"> - </button>
        <label class="form-label">Zoom: {{zoomLevel}}</label>
        <button class="btn btn-primary float-end" (click)="zoomIn()"> + </button>
        <input type="range" [value]="zoomLevel" class="form-range" min="12" max="18" #zoomInput (input)="zoomCambio(zoomInput.value)">
    </div>
</div>